@import "./variables";
@import "./media-queries";

// Displays
$displays: block, inline-block, flex, inline-flex, none;

@mixin responsify($name) {
  $sizes: sm, md, lg, xl;

  #{$name} {
    @content;
  }

  @each $size in $sizes {
    @if $size == sm {
      @include mobile-portrait-and-up {
        #{$name}-sm {
          @content;
        }
      }
    } @else if $size == md {
      @include tablet-portrait-and-up {
        #{$name}-md {
          @content;
        }
      }
    } @else if $size == lg {
      @include desktop-and-up {
        #{$name}-lg {
          @content;
        }
      }
    } @else if $size == xl {
      @include retina {
        #{$name}-xl {
          @content;
        }
      }
    }
  }
}

@each $display in $displays {
  @include responsify(".d-#{$display}") {
    display: $display;
  }
}

$flex-directions: row, column;
@each $direction in $flex-directions {
  @include responsify(".flex-#{$direction}") {
    flex-direction: $direction;
  }

  @include responsify(".flex-#{direction}-reverse") {
    flex-direction: #{$direction}-reverse;
  }
}

// Colors
$color-names: default, primary, info, success, danger, alert, gray, gray-2, white;

// get color by background
$bg-colors: (
  default: $default-bg,
  primary: $primary-bg,
  info: $info-bg,
  success: $success-bg,
  danger: $danger-bg,
  alert: $alert-bg,
  gray: $gray-1,
  gray-2: $gray-2,
  white: $white
);

// get color by text color
$text-colors: (
  default: $default-text-color,
  primary: $primary-text-color,
  info: $info-text-color, 
  success: $success-text-color,
  danger: $danger-text-color,
  alert: $alert-text-color,
  gray: $gray-1,
  gray-2: $gray-2,
  white: $white
);

@each $color-name in $color-names {
  // Buttons
  @if $color-name == default {
    .button {
      background: $default-bg;
      color: $default-text-color;

      &:hover,
      &:focus,
      &.active {
        background: darken($default-bg, 10);
      }
    }
  }

  @include responsify(".button.is-#{$color-name}") {
    background: map-get($bg-colors, $color-name);
    color: map-get($text-colors, $color-name);

    &:hover,
    &:focus,
    &.active {
      @if $color-name == primary {
        background: $gradient-darken;
      } @else {
        background: darken(map-get($bg-colors, $color-name), 10);
      }
    }
  }

  @include responsify(".text-#{$color-name}") {
    color: map-get($text-colors, $color-name);
  }

  @include responsify(".bg-#{$color-name}") {
    background: map-get($bg-colors, $color-name);
  }
}

// Box Shadow
@include responsify(".shadow") {
  box-shadow: 0px 0px 25px rgba(65, 66, 67, 0.05);
}

@include responsify("w-full") {
  width: 100%;
}