$gray-1: #687792;
$gray-2: #b3bbc8;
$gray-3: #F1F5F9;
$black: #333333;
$white: #fff;

$blue-1: #6DB0FF;
$blue-2: #6692FF;
$indigo-1: #5A6BFF;

$green-1: #a9e3db;
$green-2: #00b9a6;
$green-3: #b4eab4;
$green-4: #47cb48;
$green-5: #8BFF55;

$yellow-1: #ffeca1;
$orange-1: #ffd01a;

$red-1: #ffa1a1;
$red-2: #cb4747;
$red-3: #FF7055;

$link-color: $gray-1;
$link-color-active: $blue-2;

$body-text-color: $black;
$subtitle-color: $gray-1;

$gradient: linear-gradient(272.09deg, $blue-1 0%, $indigo-1 100%);
$gradient-darken: linear-gradient(272.09deg, darken($blue-1, 10) 0%, darken($indigo-1, 10) 100%);

$bg-gradient: linear-gradient(0deg, #FFF6EB, #FFF6EB), radial-gradient(81.59% 81.59% at 50% 18.41%, #FFF5DB 0%, #FFFFFF 100%), #EEF3F8;

$default-bg: $gray-3;
$default-text-color: $gray-1;

$primary-bg: $gradient;
$primary-text-color: $white;

$danger-bg: lighten($yellow-1, 3);
$danger-text-color: darken($orange-1, 20);

$alert-bg: lighten($red-1, 10);
$alert-text-color: $red-2;

$success-bg: lighten($green-3, 10);
$success-text-color: $green-4;

$info-bg: lighten($blue-1, 20);
$info-text-color: $indigo-1;

$box-shadow-1: 0px 0px 25px rgba(65, 66, 67, 0.05);