@import "~normalize-scss";
@import "./variables";
@import "./media-queries";
@import "./utilities";

html {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: $bg-gradient;
  color: $body-text-color;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.5rem;
}

main {
  &:not([class]) {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .content {
    flex: 1 0 auto;
    min-height: calc(100vh - 31vh);
  }
}

.button {
  padding: 0.75rem 1rem;
  border-radius: 6px;
  font-size: 1rem;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 100ms,
              background-image 100ms;
}

@include desktop-and-up {
  main:not([class]) {
    height: 100%;
    padding-bottom: 0;

    .content {
      max-height: unset;
    }
  }
}