@import "./variables";
@import "./media-queries";

// For reference only
$total-earned-icon-color: $green-1;
$current-price-icon-color: $green-3;
$estimate-apy-icon-color: $yellow-1;
$mined-icon-color: $red-1;

.home-page {
  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
    text-align: center;

    .title {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    .subtitle {
      margin-top: 1rem;
      font-size: 1rem;
      text-align: left;
      color: $subtitle-color;
      width: 100%;
    }
  }

  .detail-card.total-earned {
    margin-bottom: 0.6rem;

    .left span {
      width: 50%;
    }

    .right {
      align-items: flex-end;

      .total {
        display: inline-flex;
        // font-size: 2rem;
        font-size: 1.5rem;
      }

      .usd-value {
        color: $gray-1;
        font-weight: normal;
      }
    }
  }

  .overview {
    display: flex;
    flex-direction: column;

    .subgroup {
      display: flex;
      flex-direction: column;

      .detail-card {
        flex: 1;

        &:first-child {
          margin-bottom: 0.3rem;
        }

        &:last-child {
          margin-top: 0.3rem;
        }
      }
    }
  }
  .token-details {
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    background: rgba(255, 255, 255, 0.5);

    &-container {
      // padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .detail-card.mined {
      width:100%;
    }

    .top-part {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5rem;
    }

    .bottom-part {
      display: flex;
      width: 100%;
      position: relative;

      .goal-progress-horizontal {
        width: 5%;
        padding-right: 2rem;
      }

      .right {
        flex: 1;
      }

      .milestones {
        display: flex;
        flex-direction: column;

        > *:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      .progress-bar.goal-progress {
        width:100%;
        display: none;
      }
    }
  }
}

@media only screen and (min-width : 981px) {
  .home-page {
    .token-details {
      .bottom-part .progress-bar.goal-progress {
        width:83vw;
        display: block;
      }

      .bottom-part .goal-progress-horizontal {
        display: none;
      }
    }
  }
}

@media only screen and (min-width : 1600px) {
  .home-page {
    .token-details {
      .bottom-part .progress-bar.goal-progress {
        display: block;
        width:90%;
      }
    }
  }
}

@include desktop-and-up {
  .home-page {
    .message {
      width: 60%;
      margin: 0 auto;
      padding: 4rem 3rem;

      .subtitle {
        max-width: 70%;
        width: 100%;
      }
    }

    .detail-card.total-earned {
      margin-right:0.3rem;
      margin-bottom: 0;
    }

    .total-earned,
    .subgroup {
      width: 50%;
    }

    .subgroup {
      margin-left: 0.3rem;
    }

    .overview {
      flex-direction: row;
    }

    .token-details .token-details-container {
      width: 80%;
      padding-left: inherit;
      padding-right: inherit;
    }

    .token-details {
      .detail-card.mined {
        width:30%;
      }

      .bottom-part .milestones {
        flex-direction: row;
      }
    }
  }
}
