@import "./variables";

#splash-screen {
position: relative;
  background-image: url(../assets/sun.png);
  background-size: 30rem;
  background-position: calc(100% + 50px) calc(100% + 85px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.ricegrains {
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: url(../assets/ricegrains.png);
  background-size: 90rem;
  background-position: center calc(100% + 20px);
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
}

main:not([class]) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -10%;
  height: 100%;
}

input[type="email"] {
  width: 20rem;
  padding: 0.75rem 1rem;
  border: 2px solid $gray-3;
  font-weight: bold;
  border-radius: 8px;
  background-color: $gray-3;
  color: $gray-1;

  &:focus {
    border-color: $blue-2;
  }
}

button[type="submit"] {
  padding: 1rem 0.9rem;
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
  > *:first-child {
    margin-right: 0.3rem;
  }
}