<template>
  <Container class="faqs-page-container">
    <h1 class="header-text">FAQ</h1>
    <Accordion v-for="(question, qIdx) in questions" :key="qIdx" :title="question">
      <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi maiores natus quas doloremque et corrupti porro officia assumenda repellendus qui hic neque, obcaecati quod, earum odio tempora ipsa. Harum, ea?</span><span>Veritatis, unde! Accusamus alias soluta excepturi rerum iure eius quaerat earum sapiente enim. Autem reprehenderit nobis esse quae nam cumque! Dolores dolorum quos dolor doloremque hic maxime expedita quas debitis!</span></p>
      <p><span>Asperiores aliquam doloremque delectus nulla sunt? Rerum consectetur odio quas inventore commodi voluptas! Autem, dignissimos. Impedit sit non autem eum amet error commodi cupiditate? Dolore sapiente nobis dignissimos explicabo sed?</span><span>Ipsa quia iste, maiores cum nesciunt commodi rerum cumque harum consectetur quaerat odio asperiores? Veniam, ullam, explicabo recusandae voluptas debitis, sapiente enim dolores maxime veritatis dignissimos soluta sequi consequatur suscipit!</span></p>
      <p><span>Consequuntur quidem placeat officia quaerat id, nisi quia molestias ipsa corrupti enim, voluptatem veniam vero sit! Non esse consequuntur quo modi, quibusdam saepe in ipsam quasi, iure delectus architecto tempore.</span><span>Illum, provident consequuntur excepturi atque ipsam, itaque doloremque ea ex fugiat, dicta similique nemo incidunt reiciendis sit distinctio quia ratione quis nulla nostrum quibusdam labore a consequatur voluptate? Excepturi, at?</span></p>
      <p><span>Aliquam quibusdam harum explicabo deserunt nostrum quos iusto nesciunt voluptatum id repellendus, tempore inventore architecto adipisci dolorem, optio, excepturi odio! Dolore quam in quas exercitationem. Suscipit itaque voluptatibus animi impedit.</span><span>Nostrum sequi soluta ipsa laboriosam necessitatibus nulla culpa blanditiis harum doloremque alias sapiente autem consequatur nesciunt aperiam ratione quos exercitationem dignissimos tempore dolore, magnam ullam, eum ad a voluptates! Quo!</span></p>
    </Accordion>
  </Container>
</template>

<script>
import Container from "../components/Container";
import Accordion from "../components/Faqs/Accordion";

export default {
  components: {
    Container,
    Accordion
  },
  data() {
    return {
      questions: ["Who is Catoshi?", "What is CATO?", "What is Lorem Ipsum"],
    };
  }
}
</script>

<style lang="scss">
@import "../styles/media-queries";

.faqs-page-container {
  > * {
    margin: 0.3rem 0;
  }

  .header-text {
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;
  }
}

@include desktop-and-up {
  .faqs-page-container {
    width: 50%;
  }
}
</style>