<template>
  <Container class="farm-page">
    <section
      v-for="(farm, farmIdx) in farms"
      :key="farm.id"
      :class="{'locked': !isFarmUnlocked(farmIdx)}"
      class="farm"
    >
      <h2 class="title"><template v-if="!farm.special">Farm {{ farm.id }}: </template>{{ farm.title }}</h2>
      <p class="subtitle">{{ isFarmUnlocked(farmIdx) ? farm.description : 'Revealed once reached' }}</p>
      <div class="platforms" v-if="isFarmUnlocked(farmIdx)">
        <div class="platform-container" v-for="(platform, pId) in platforms" :key="pId">
          <div @click="selectBtnAction(pId)" class="platform">
            <!-- <img :src="platform.img" class="icon" /> -->
            <div class="platform-icon">
              <CircleIcon size="large" border-color="rgba(0, 0, 0, 0.1)" :image="platform.img"></CircleIcon>
            </div>
            <span class="platform-name">{{ platform.name }}</span>
            <span class="platform-balance">{{ platform.balance }}</span>
            <button class="button" style="margin-bottom: 1.5rem;" @click="selectBtnAction(pId)">{{ selectBtnText(pId) }}</button>
            <div class="apy-value d-flex flex-row">
              <span>APY</span>
              <span>{{ platform.apy | formatApy }}%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="platforms poop" v-else-if="farm.special">
        <div class="plaform-container">
          <div class="platform is-empty-state poop">
            <img src="../assets/icons/poop.png"/>
          </div>
        </div>
      </div>
      <div class="platforms" v-else>
        <div class="platform-container" :key="n" v-for="n in 4">
          <div class="platform is-empty-state"></div>
        </div>
      </div>
    </section>

    <!-- Modals  -->
    <Modal id="platform-info" :with-close-button="true">
      <template #header>
        <h2>Farm with {{ currentPlatform.name }}</h2>
      </template>
      <DetailCard
        icon="homepage_cat_green1"
        icon-color="#a9e3db"
        :large="true"
        class="total-earned"
        name="Total CATO Earned"
      >
        <span class="total">
          8234.
          <span class="text-gray-2">20</span>
        </span>
        <span class="usd-value">$203.91</span>
        <template #footer>
          <div class="estimate-apy">
            <!-- TODO: share styling code with detail card component? -->
            <div class="left">
              <div class="left-icon">
                <CircleIcon bg-color="#ffeca1" :image="estimateApyIcon"></CircleIcon>
              </div>
            </div>
            <div class="right">
              <div class="stat">
                <span>603</span>
                <span class="text-gray-2">%</span>
              </div>
              <span>Estimate APY</span>
            </div>
          </div>
          <div class="action-buttons">
            <button class="button">Harvest and Withdraw</button>
            <button class="button">Harvest</button>
          </div>
        </template>
      </DetailCard>
      <DetailCard
        :custom-icon="currentPlatform.img"
        :large="true"
        :name="`${currentPlatform.name} Farm`"
        class="platform-info"
        icon-color="#fff"
        border-color="rgba(0, 0, 0, 0.1)"
      >
        <span class="total">
          1883.
          <span class="text-gray-2">1201</span>
        </span>
        <span class="usd-value">$203.91</span>
        <template #footer>
          <button @click="$eventHub.$emit('open-modal', 'withdraw-modal')" class="button">- Withdraw</button>
          <button
            @click="$eventHub.$emit('open-modal', 'deposit-modal')"
            class="button is-primary"
          >+ Deposit</button>
        </template>
      </DetailCard>
    </Modal>

    <!-- TODO: merge withdraw and deposit modals -->
    <Modal id="withdraw-modal">
      <template #header>
        <div class="platform-icon">
          <CircleIcon size="large" border-color="rgba(0, 0, 0, 0.1)" :image="currentPlatform.img"></CircleIcon>
        </div>
        <h2>Withdraw {{ currentPlatform.name }}</h2>
      </template>

      <!-- Content -->
      <span style="font-weight:500;">
        <span class="text-gray">Available {{ currentPlatform.name }}:</span> 958.2312
      </span>
      <div class="amount-text-box">
        <input type="text" placeholder="Enter Amount" />
        <button class="add-on button is-primary">Max</button>
      </div>
      <!-- End of content -->

      <template #footer="{ close }">
        <button @click="close" class="button">Cancel</button>
        <button @click="close" class="button is-primary">Confirm</button>
      </template>
    </Modal>

    <Modal id="deposit-modal">
      <template #header>
        <div class="platform-icon-bg">
          <div class="platform-icon" :style="`background-image: url(${currentPlatform.img});`"></div>
        </div>
        <h2>Deposit {{ currentPlatform.name }}</h2>
      </template>

      <!-- Content -->
      <span style="font-weight:500;">
        <span class="text-gray">Available {{ currentPlatform.name }}:</span> 958.2312
      </span>
      <div class="amount-text-box">
        <input type="text" placeholder="Enter Amount" />
        <span class="add-on button is-primary">Max</span>
      </div>
      <!-- End of content -->

      <template #footer="{ close }">
        <button @click="close" class="button">Cancel</button>
        <button @click="close" class="button is-primary">Confirm</button>
      </template>
    </Modal>
  </Container>
</template>

<script>
import CircleIcon from "../components/Circle";
import Container from "../components/Container";
import Card from "../components/Card";
import DetailCard from "../components/DetailCard";
import Modal from "../components/Modal";
import platforms from "../assets/providers/*.png";

import estimateApyIcon from "../assets/icons_svg/homepage_percentage.svg";

export default {
  components: {
    Container,
    DetailCard,
    Modal,
    CircleIcon,
  },
  data() {
    return {
      farms: [
        {
          id: 1,
          title: "The Cat Asks Why",
          description: "Catoshi’s first farm is all about perspective! Let us gather all oracle tokens and harvest for CATOs!"
        },
        {
          id: 2,
          title: "The Cat Outruns Everyone",
        },
        {
          id: 3,
          title: "The Cat Sees Everything",
        },
        {
          id: 4,
          title: "The Cat Meets Other Cats",
        },
        {
          id: 5,
          title: "The Cat Poops On Everything!",
          special: true
        }
      ],
      platforms: [
        {
          name: "LINK",
          balance: 0,
          img: platforms["link"],
          apy: 10.3983,
        },
        {
          name: "BAND",
          balance: 0,
          img: platforms["band"],
          apy: 10.3983,
        },
        {
          name: "TELLOR",
          balance: 0,
          img: platforms["tellor"],
          apy: 10.3983,
        },
        {
          name: "DIA",
          balance: 0,
          img: platforms["dia"],
          apy: 10.3983,
        },
      ],
      unlockedFarms: [0],
      approvedPlatforms: { 0: [0] },
      selectedIdx: 0,
      selectedPlatformIdx: 0,
      isSelected: false,
    };
  },
  computed: {
    estimateApyIcon() {
      return estimateApyIcon;
    },
    currentPlatform() {
      return this.platforms[this.selectedPlatformIdx];
    },
    isFarmPresentInApprovedPlatforms() {
      return this.approvedPlatforms.hasOwnProperty(this.selectedIdx);
    },
    currApprovedPlatforms() {
      return this.approvedPlatforms[this.selectedIdx];
    },
  },
  filters: {
    formatApy(value) {
      const formattedValue = value * 100;
      return formattedValue.toFixed(2);
    }
  },
  watch: {
    selectedIdx(oldIdx, newIdx) {
      if (oldIdx === newIdx || this.isFarmUnlocked(newIdx)) return;
      this.selectedIdx = this.unlockedFarms[0];
    },
  },
  methods: {
    // farm
    farmSelectAction(farmIdx) {
      if (!this.isFarmUnlocked(farmIdx)) return;
      this.selectedIdx = farmIdx;
    },
    isFarmUnlocked(idx) {
      return this.unlockedFarms.indexOf(idx) !== -1;
    },
    isFarmSelected(idx) {
      return this.selectedIdx === idx;
    },
    switchFarm(idx) {
      if (!this.isFarmUnlocked(idx)) return;
      this.selectedIdx = idx;
    },
    // platform
    selectBtnText(pIdx) {
      if (!this.isPlatformApproved(pIdx)) return "Approve";
      return "Select";
    },
    selectBtnAction(pIdx) {
      if (this.isPlatformApproved(pIdx)) {
        this.selectedPlatformIdx = pIdx;
        this.$eventHub.$emit("open-modal", "platform-info");
        return;
      }

      if (!this.isFarmPresentInApprovedPlatforms) {
        this.approvedPlatforms = {
          ...this.approvedPlatforms,
          [this.selectedIdx]: [],
        };
      }

      this.approvedPlatforms[this.selectedIdx].push(pIdx);
    },
    isPlatformSelected(idx) {
      return this.selectedPlatformIdx === idx;
    },
    isPlatformApproved(idx) {
      return (
        this.isFarmPresentInApprovedPlatforms &&
        this.currApprovedPlatforms.indexOf(idx) !== -1
      );
    },
    isPlatformSelectedAndApproved(idx) {
      return this.isPlatformSelected(idx) && this.isPlatformApproved(idx);
    },
  },
};
</script>

<style lang="scss">
@import "../styles/media-queries";
@import "../styles/variables";

#platform-info {
  .modal {
    background: #e7e7e7;

    .modal-header h2 {
      margin: 0 auto;
      text-align: center;
    }

    .modal-content .card:first-child .card-footer {
      justify-content: space-between;

      .action-buttons {
        display: flex;
        justify-content: flex-end;

        > *:not(:first-child) {
          margin-left: 0.8rem;
        }
      }

      .estimate-apy {
        display: flex;

        .left {
          display: flex;
          align-items: center;

          &-icon {
            width: 2.8rem;
            height: 2.8rem;
            margin-right: 0.5rem;
          }

          span {
            font-weight: 600;
          }
        }

        .right {
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-weight: bold;
          align-items: flex-start;

          .stat {
            font-size: 1.2rem;
          }

          .stat span:last-child {
            margin-left: -0.2rem;
          }
        }
      }
    }

    .modal-close {
      border-radius: 100%;
      background: $gray-1;
      width: 2rem;
      height: 2rem;
      right: 6%;

      &:hover {
        background: darken($gray-1, 10);
      }
      
      svg {
        fill: #fff;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 981px) {
  #platform-info .modal {
    max-width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  #platform-info {
    .modal {
      max-width: 40%;
      padding: 2rem 3.2rem;

    // TODO: responsive code for estimate apy
      .modal-content .card:first-child .card-footer {
        justify-content: space-between;
        align-items: initial;

        .action-buttons {
          margin-top: 0;
        }

        .estimate-apy {
          margin-right: auto;
          display: flex;
          flex-direction: row;

          .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-weight: bold;
            align-items: flex-start;

            .stat {
              font-size: 1.2rem;
            }

            .stat span:last-child {
              margin-left: -0.2rem;
            }
          }
        }
      }
    }
  }
}
</style>

<style lang="scss" scoped>
@import "../styles/media-queries";
@import "../styles/variables";

.farm-page {
  display: flex;
  flex-direction: column;

  .detail-card.large {
    &.total-earned {
      margin-bottom: 1rem;

      .left .left-icon {
        width: 4.7rem;
        margin-right: 1rem;
      }

      .left span {
        width: 100%;
      }

      .card-footer {
        justify-content: flex-start;
      }
    }

    .left span {
      width: 100%;
    }

    .right {
      align-items: flex-end;

      .total {
        display: inline-flex;
        // font-size: 2rem;
        font-size: 1.5rem;
      }

      .usd-value {
        color: $gray-1;
        font-weight: normal;
      }
    }
  }
}

section.farm {
  padding: 3rem 0;
  width: 100%;

  &:last-child {
    padding-bottom: 6rem;
  }

  .title,
  .subtitle {
    text-align: center;
  }

  .title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 2.5rem;
    color: $gray-1;
    margin-top: 0.5rem;
  }

  .platforms {
    display: flex;
    flex-direction: row;
    margin: -0.5rem;
    max-width: 100%;
    overflow-x: auto;
    position: relative;

    &.poop {
      justify-content: center;
    }

    .platform-container {
      width: 60%;
      padding: 0.5rem;
    }

    .platform {
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      background-color: #fff;
      color: inherit;
      box-shadow: 0px 0px 20px 5px rgba(65, 66, 67, 0.03);
      text-align: center;
      cursor: pointer;
      min-width: 80.167px;
      transform: scale(1);
      transition: background-color 200ms,
                  transform 200ms;

      &.is-empty-state {
        padding: 1.5rem 2rem;
      }

      &:hover:not(.is-empty-state) {
        background-color: darken(#fff, 3);
      }

      &.is-empty-state {
        opacity: 0.4;
        // background: #F1F5F9;
        height: 13.43125rem;
        cursor: default;
        box-shadow: none;

        &.poop {
          width: 100%;
          justify-content: center;
        }

        &:not(.poop):before {
          margin: auto 0;
          content: "?";
          font-weight: bold;
          font-size: 3.75rem;
          color: $gray-1;
        }
      }

      &.active {
        background: linear-gradient(180deg, #2a5ada 0%, #6db0ff 94.4%);
        position: relative;

        &:hover {
          background: linear-gradient(
            180deg,
            darken(#2a5ada, 5) 0%,
            darken($blue-1, 5) 94.4%
          );
        }

        .platform-name,
        .platform-balance {
          color: $white;
        }
      }

      >.platform-icon {
        height: 3rem;
        width: 3rem;
        margin-bottom: 1rem;
      }

      &-name {
        color: $body-text-color;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      &-balance {
        color: rgba(0, 0, 0, 0.3);
        // font-size: 1.2rem;
        margin: 1rem 0;
      }

      .apy-value {
        font-size: 0.9rem; //12px
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        justify-content: space-between;
        color: $gray-1;
        width: 100%;
        padding: 0.3rem;
      }
    }
  }
}

#withdraw-modal,
#deposit-modal {
  .platform-icon {
    width: 3.5rem;
    margin-right: 0.5rem;
  }
}

.full-status {
  margin-top: 0.8rem;
  background: rgba(175, 185, 194, 0.2);
  border-radius: 8px;
  padding: 2rem 1.5rem;
}

.amount-text-box {
  background: #f1f5f9;
  display: flex;
  flex-direction: row;
  margin-top: 0.6rem;
  border-radius: 4px;
  align-items: center;
  color: $gray-1;
  font-weight: 600;

  input[type="text"] {
    background: none;
    border: none;
    padding: 1rem;
    flex: 1;
  }

  .add-on {
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 0.7rem;
  }
}

@media only screen and (min-width : 1120px) {
  .farm-page {
    max-width: 55%;

    .platforms {
      overflow: visible !important;

      .platform-container {
        width: 30%;
        padding: 0.5rem;
      }

      .platform {
        transform: scale(1);

        &:hover:not(.is-empty-state) {
          transform: scale(1.1);
        }
      }
    }
  }
}
</style>