<template>
  <Container class="proposal-page">
    <h1 class="header-text">Vote for Changes</h1>
    <img class="cat1" src="../assets/icons/cat1.png" alt="">
    <button @click="$eventHub.$emit('open-modal', 'add-proposal')" class="button is-primary add-proposal-btn">Make a Proposal</button>
    <Card class="proposal">
      <template #content>
        <div class="proposal-info">
          <div class="time-remaining">
            <span class="label">Time Remaining</span>
            <div class="time">
              <Countdown :start-date="new Date(2020, 9, 2)"></Countdown>
            </div>
          </div>
          <div class="votes-placed">
            <span class="label">Votes Placed</span>
            <div class="count">
              <span>104,140</span>
              <span class="total">/224,746</span>
            </div>
          </div>
        </div>
        <div class="proposal-indicator">
          <div class="goal-indicator">
            <span>Proposal Passed</span>
            <span>250,000</span>
          </div>
          <ProgressBar :percent="20"></ProgressBar>
        </div>
        <button class="button yes-btn">Yes</button>
        <div class="proposal-content">
          <p>Proposal content goes here</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, ad beatae molestias architecto atque ipsa ab tenetur quidem similique suscipit repellendus. Veritatis vero recusandae molestias saepe dolorem aperiam, esse fugiat!</p>
          <p>Eos praesentium, voluptatum nisi impedit, quae fugiat repellat veritatis voluptatem, vitae iusto autem modi. Voluptatibus deleniti laboriosam ipsam at molestias in. Dolorem inventore officiis deleniti eaque quaerat cumque quasi. Voluptas.</p>
          <p>Illo autem modi, ullam facilis earum quas! Fuga, quasi. Aut sapiente obcaecati non, totam ipsam sint itaque necessitatibus adipisci quos eum temporibus voluptatum culpa mollitia ducimus, eaque est soluta consequatur.</p>
          <p>Impedit suscipit natus officia architecto eius odio. Alias iusto velit soluta placeat veniam dolores. Necessitatibus nobis at reiciendis dicta qui culpa distinctio sed atque, maxime officiis quod nemo debitis! Dicta!</p>
          <p>Labore, ea non, temporibus obcaecati eius aspernatur error tempora aliquid nesciunt a illo facere voluptatibus. Alias est dolor velit aliquid beatae nulla modi cum a, ipsum dolores enim maxime esse?</p>
          <p>Ullam ab veniam culpa reiciendis magnam! Dolorum ullam tempore cupiditate error tenetur explicabo quaerat et porro mollitia, obcaecati incidunt consequatur, nam quam eius nisi magnam perferendis iusto earum! Non, deserunt.</p>
          <p>Voluptas illo ab veniam consequatur ipsam, repellendus voluptates modi dolores facilis quod, perferendis placeat hic consequuntur? Veniam repellendus iure soluta enim numquam laboriosam obcaecati. Error aut fuga iusto quos officiis.</p>
          <p>Ipsam numquam magnam aut consectetur voluptate esse nobis cum, culpa voluptatum, velit accusamus impedit reiciendis at omnis repellat ipsa qui! Voluptates enim harum architecto aliquid cumque laborum similique commodi a!</p>
        </div>
      </template>
    </Card>
    <Modal id="add-proposal" :with-close-button="true">
      <template #header>
        <h2>New Pool Proposal</h2>
      </template>
      <!-- Content -->
      <p>Kindly inform the team after submission:</p>
      <p><b>Proposal content</b></p>
      <textarea>
      </textarea>
      <!-- End content -->
      <template #footer="{ close }">
        <button @click="close" class="button is-primary">Submit</button>
      </template>
    </Modal>
  </Container>
</template>

<script>
import Countdown from "../components/Farms/Countdown";
import Container from "../components/Container";
import Modal from "../components/Modal";
import Card from "../components/Card";
import ProgressBar from "../components/Home/ProgressBar";

export default {
  components: {
    Container,
    Modal,
    Card,
    ProgressBar,
    Countdown
  }
}
</script>

<style lang="scss">
@import "../styles/media-queries";
@import "../styles/variables";

.proposal-page.container {
  > * {
    margin-bottom: 2rem;
  }

  .header-text {
    margin-top: 3rem;
    text-align: center;
  }

  .cat1 {
    align-self: center;
  }

  .card.proposal {
    padding: 2.5rem;

    .card-content {
      display: flex;
      flex-direction: column;

      > * {
        margin-bottom: 1rem;
      }

      .proposal-info {
        display: flex;
        flex-direction: row;
        margin-left: -1rem;
        margin-right: -1rem;
        margin-top: -1rem;
        margin-bottom: 0;

        > * {
          flex: 1;
          padding: 1rem;
        }

        .time-remaining,
        .votes-placed {
          .label {
            font-weight: bold;
            font-size: 1rem;
          }
        }

        .time-remaining .countdown-timer,
        .votes-placed .count {
          margin-top: 0.3rem;
        }

        .votes-placed .count {
          font-weight: bold;
          font-size: 2rem;
          display: flex;
          flex-wrap: wrap;

          .total {
            font-size: 1.5rem;
            margin-left: 0.2rem;
            margin-bottom: auto;
            color: $gray-1;
          }
        }
      }

      .proposal-indicator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;

        .goal-indicator {
          display: flex;
          flex-direction: column;
          align-self: center;
          text-align: center;
          position: relative;
          margin-bottom: -2rem;
          font-size: 1.3rem;
          font-weight: bold;
          color: $gray-1;

          &:after {
            content: " ";
            background: $gray-1;
            width: 0.3rem;
            height: 4rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.5rem;
            z-index: 2;
          }
        }
      }

      .yes-btn {
        align-self: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
  }

  #add-proposal .modal-content {
    textarea {
      width: 100%;
      background: #f1f5f9;
      margin-top: 0.6rem;
      border-radius: 4px;
      font-size: 1rem;
      border: none;
      color: $body-text-color;
      font-weight: 600;
      padding: 1rem;
      font-family: inherit;
    }
  }
}

@include desktop-and-up {
  .proposal-page.container {
    width: 50%;

    .add-proposal-btn {
      align-self: center;
    }

    .card.proposal {
      .time-remaining,
      .votes-placed {
        .label {
          font-weight: bold;
          font-size: 1.5rem;
        }
      }
    }
  }
}
</style>