<template>
  <div class="home-page">
    <Container>
      <div class="message">
        <img src="../assets/icons_svg/homepage_home.svg" />
        <h2 class="title">Welcome to Catoshi Farm!</h2>
        <div class="subtitle">
          <p>
            Catoshi is a helpful cat opening his farm for the first time! 
          </p>
          <p>
            He is a very picky cat and will only farm certain tokens at a time. But running a farm is too much 
            for the little cat! 
          </p>
          <p>
            He needs all the help he can get. Luckily he has a lot of CATO inherited from his trillionaire uncle cat who died under mysterious circumstances. 
          </p>
          <p>
            Let us help Catoshi and together we can be the best farm in town!
          </p>
        </div>
      </div>
      <div class="overview">
        <DetailCard icon="homepage_cat_green1" icon-color="#a9e3db"
                    :large="true" class="total-earned" name="Total CATO Earned">
          <span class="total">
            8234.
            <span class="text-gray-2">20</span>
          </span>
          <span class="usd-value">$203.91</span>
          <template #footer>
            <button class="button">Harvest and Withdraw</button>
            <button class="button is-primary">
              <img src="../assets/icons_svg/homepage_tractor.svg" />
              Harvest
            </button>
          </template>
        </DetailCard>
        <div class="subgroup">
          <DetailCard icon="homepage_dollarsign" icon-color="#b4eab4" class="current-price" name="Current Price">
            <div class="stat">
              <span>$0.12</span>
              <span class="text-gray-2">2092</span>
            </div>
          </DetailCard>
          <DetailCard icon="homepage_percentage" icon-color="#ffeca1" class="estimate-apy" name="Estimate APY">
            <div class="stat">
              <span>603</span>
              <span class="text-gray-2">%</span>
            </div>
          </DetailCard>
        </div>
      </div>
    </Container>
    <div class="token-details">
      <Container class="token-details-container">
        <div class="top-part">
          <h2>Catoshi Season 1</h2>
          <DetailCard icon="homepage_poop" icon-color="#ffa1a1" class="mined" name="CATO Mined">
            <span>{{ catoStatus.current.toLocaleString() }}</span>
            <span class="text-gray-2">of {{ catoStatus.max.toLocaleString() }}</span>
          </DetailCard>
        </div>
        <div class="bottom-part">
          <div class="d-flex d-none-lg flex-row w-full">
            <div class="goal-progress-horizontal">
              <ProgressBar
                class="progress-anim"
                :percent="progress" 
                :horizontal="true">
              </ProgressBar>
            </div>
            <div class="milestones-area">
              <Milestone
                v-for="(goal, goalIdx) in goals"
                :key="goalIdx"
                :active="goal.active"
                :label="goal.label"
                :title="goal.title"
                :text="goal.description"
                :indicator-text="goal.indicatorText"
                width="auto"
              ></Milestone>
            </div>
          </div>
          <div class="d-none d-block-lg" style="position: relative;">
            <div class="milestones">
              <Milestone
                v-for="(goal, goalIdx) in goals.filter((_, i) => i % 2 == 0)"
                :key="goalIdx"
                :active="goal.active"
                :label="goal.label"
                :label-width="goal.labelWidth"
                :title="goal.title"
                :text="goal.description"
                :width="goal.width"
                :position="goal.position"
                :indicator-text="goal.indicatorText"
                :style="goal.style"
              ></Milestone>
            </div>
            <ProgressBar 
              class="goal-progress progress-anim"
              :percent="progress" 
              text="872,908 left">
            </ProgressBar>
            <div class="milestones">
              <Milestone
                v-for="(goal, goalIdx) in goals.filter((_, i) => i % 2 > 0)"
                :key="goalIdx"
                :active="goal.active"
                :label="goal.label"
                :label-width="goal.labelWidth"
                :title="goal.title"
                :text="goal.description"
                :width="goal.width"
                :position="goal.position"
                :indicator-text="goal.indicatorText"
                :style="goal.style"
              ></Milestone>
            </div>
          </div>
        </div>
      </Container>
    </div>
  </div>
</template>

<script>
import ScrollTrigger from "@terwanerik/scrolltrigger";

import DetailCard from "../components/DetailCard";
import Container from "../components/Container";

import Milestone from "../components/Home/Milestone";
import ProgressBar from "../components/Home/ProgressBar";

export default {
  components: {
    Container,
    DetailCard,
    Milestone,
    ProgressBar
  },
  created() {
    if (process.env.NODE_ENV === 'development') {
      this.catoStatusWs = new WebSocket("ws://localhost:3000");
      this.catoStatusWs.onopen = (evt) => {
        console.log("The cat is monitoring for updates...");
      }

      this.catoStatusWs.onerror = (evt) => {
        console.error(evt.data);
      }

      this.catoStatusWs.onmessage = (evt) => {
        const data = JSON.parse(evt.data);
        this.catoStatus.current = data.current;
        this.catoStatus.max = data.max;
      }
    } else {
      this.catoStatus.current = 177_084;
      this.catoStatus.max = 1_000_000;
    }
  },
  mounted() {
    this.scrollTrigger = new ScrollTrigger();
    this.scrollTrigger.add('.progress-anim', {
      toggle: {
        offset: {
          element: {
            y: 2.5
          }
        },
        callback: {
          in: this.loadProgress.bind(this),
          out: this.resetProgress.bind(this)
        }
      }
    })
  },
  beforeDestroy() {
    this.scrollTrigger.kill();
    this.scrollTrigger = null;
  },
  data() {
    return {
      progress: 0,
      catoStatus: {
        current: 0,
        max: 0
      }
    }
  },
  computed: {
    goals() {
      return [
        {
          label: "Farm 1:",
          active: true,
          title: "The Cat Sees Everything",
          description: "CATO launch and staking for LINK, BAND, TELLOR, and DIA are available.",
        },
        {
          label: "Farm 2:",
          title: "The Cat Outruns Everyone",
          description: "Revealed once reached",
          indicatorText: "122,908 left",
          position: "top-left",
          style: "left: 21%;",
        },
        {
          label: "Farm 3:",
          title: "The Cat Borrows Everything",
          description: "Revealed once reached",
          style: "left: 12%",
        },
        {
          label: "Farm 4:",
          title: "The Cats Meets Other Cats",
          description: "Revealed once reached",
          position: "top-left",
          style: "left: 31.7%"
        },
        {
          label: "?",
          title: "The Cat Surprises All",
          width: 184,
          position: "bottom-end",
          labelWidth: "15%",
          style: "left: 15%"
        }
      ];
    }
  },
  methods: {
    loadProgress(trigger) {
      console.log("Progressed");
      this.progress = 20;
    },
    resetProgress(trigger) {
      console.log('out');
      this.progress = 0;
    }
  }
};
</script>

<style lang="scss">
@import "../styles/variables";
@import "../styles/media-queries";

// For reference only
$total-earned-icon-color: $green-1;
$current-price-icon-color: $green-3;
$estimate-apy-icon-color: $yellow-1;
$mined-icon-color: $red-1;

.home-page {
  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
    text-align: center;

    .title {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    .subtitle {
      margin-top: 1rem;
      font-size: 1rem;
      text-align: left;
      color: $subtitle-color;
      width: 100%;
    }
  }

  .detail-card.total-earned {
    margin-bottom: 0.6rem;

    .left span {
      width: 50%;
    }

    .right {
      align-items: flex-end;

      .total {
        display: inline-flex;
        // font-size: 2rem;
        font-size: 1.5rem;
      }

      .usd-value {
        color: $gray-1;
        font-weight: normal;
      }
    }
  }

  .overview {
    display: flex;
    flex-direction: column;

    .subgroup {
      display: flex;
      flex-direction: column;

      .detail-card {
        flex: 1;

        &:first-child {
          margin-bottom: 0.3rem;
        }

        &:last-child {
          margin-top: 0.3rem;
        }
      }
    }
  }
  .token-details {
    margin-top: 5rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
    background: rgba(255, 255, 255, 0.5);

    &-container {
      // padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .detail-card.mined {
      width:90%;
    }

    .top-part {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5rem;
    }

    .bottom-part {
      width: 100%;
      position: relative;
      overflow-x: auto;

      .goal-progress-horizontal {
        width: 5%;
        padding-right: 1rem;
      }

      .milestones-area {
        flex: 1;

        display: flex;
        flex-direction: column;

        .mileston {
          width: 100%;
        }

        > *:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      .milestones {
        display: flex;
        flex-direction: column;

        > *:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      .progress-bar.goal-progress {
        width:90%;
      }
    }
  }
}

@media only screen and (min-width : 981px) {
  .home-page {
    .token-details {
      .bottom-part .progress-bar.goal-progress {
        width:83vw;
        display: block;
      }

      .bottom-part .goal-progress-horizontal {
        display: none;
      }
    }
  }
}

@media only screen and (min-width : 1600px) {
  .home-page {
    .token-details {
      .bottom-part .progress-bar.goal-progress {
        display: block;
        width:90%;
      }
    }
  }
}

@include desktop-and-up {
  .home-page {
    .message {
      width: 60%;
      margin: 0 auto;
      padding: 4rem 3rem;

      .subtitle {
        max-width: 70%;
        width: 100%;
      }
    }

    .detail-card.total-earned {
      margin-right:0.3rem;
      margin-bottom: 0;
    }

    .total-earned,
    .subgroup {
      width: 50%;
    }

    .subgroup {
      margin-left: 0.3rem;
    }

    .overview {
      flex-direction: row;
    }

    .token-details .token-details-container {
      width: 80%;
      padding-left: inherit;
      padding-right: inherit;
    }

    .token-details {
      .detail-card.mined {
        width:30%;
      }

      .bottom-part .milestones {
        flex-direction: row;
      }
    }
  }
}
</style>