<template>
  <Container class="not-found-page">
    <h1>Not Found</h1>
    <p>The page you're looking for was not found.</p>
    <router-link class="button is-primary" to="/">Return to homepage</router-link>
  </Container>
</template>

<script>
import Container from "../components/Container";

export default {
  components: {
    Container
  }
}
</script>

<style lang="scss" scoped>
.not-found-page {
  text-align: center;
  padding-top: 5rem;

  > * {
    margin-bottom: 0;
  }

  .button {
    margin-top: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
</style>