<template>
  <div class="countdown-timer">
    <span>
      {{ days | padNum }}:{{ hours | padNum }}:{{ minutes | padNum }}:
    </span>
    <span class="second">{{ seconds | padNum }}</span>
  </div>
</template>

<script>
export default {
  props: {
    startDate: {
      type: Date
    }
  },
  mounted() {
    this.tick();
    this.timer = setInterval(this.tick.bind(this), 1000);
  },
  destroy() {
    clearInterval(this.timer);
  },
  data() {
    return {
      days: null,
      hours: null,
      minutes: null,
      seconds: null,
    };
  },
  filters: {
    padNum(val) {
      if (val == null) return val;
      return val.toString().padStart(2, "0");
    }
  },
  methods: {
    updateRemaining (distance) {
      this.days = Math.floor(distance / (1000 * 60 * 60 * 24))
      this.hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
      this.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60))
      this.seconds = Math.floor((distance % (1000 * 60)) / 1000)
    },
    tick () {
      const currentTime = new Date();
      const distance = Math.max(this.startDate - currentTime, 0);
      this.updateRemaining(distance);
      
      if (distance === 0) {
        clearInterval(this.timer);
      }
    },
  }
}
</script>

<style lang="scss" scoped>
@import "../../styles/variables";

.countdown-timer {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.3rem;
  display: flex;

  .second {
    color: $gray-1;
  }
}
</style>