<template>
  <!-- <div :style="`width:${width}px;`" :class="[{'active': active}, position]" class="milestone"> -->
  <div :class="[{'active': active}, position]" :style="`width: ${width}px`" class="milestone">
    <span :style="`width:${labelWidth};`">{{label}}</span>
    <div class="milestone-content">
      <h3>{{title}}</h3>
      <p v-if="text">{{text}}</p>
      <p class="indicator-text" v-if="indicatorText">{{ indicatorText }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
    },
    title: {
      type: String,
    },
    text: {
      type: String,
    },
    position: {
      type: String,
      default: "bottom-left",
    },
    width: {
      default: 400,
    },
    labelWidth: {
      type: String,
      default: "16%",
    },
    indicatorText: {
      type: String,
    },
    horizontal: {
      type: Boolean,
      default: false
    }
  },
};
</script>

<style lang="scss" scoped>
@import "../../styles/media-queries";
@import "../../styles/variables";

.milestone {
  display: flex;
  flex-direction: column;
  background-color: #e9edf3;
  color: $body-text-color;
  padding: 1rem;
  border-radius: 6px;
  position: relative;
  cursor: default;
  transition: background-color 250ms;

  &.active {
    background-color: $gray-1;
    color: $white;

    p,
    > span {
      color: inherit;
    }

    &:hover {
      background-color: darken($gray-1, 5);

      &:before {
        background-color: inherit;
      }
    }
  }

  &:hover {
    background-color: darken(#e9edf3, 5);

    &:before {
      background-color: inherit;
    }
  }

  > span {
    align-self: start;
    font-weight: 600;
    color: $gray-1;
    // font-size: 1.1rem;
  }

  &-content {
    flex: 1;
    align-self: start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    h3,
    p {
      margin: 0;
    }

    h3 {
      margin-top: -0.3rem;
      // font-size: 1.2rem;
    }

    p {
      font-size: 1rem;
      color: $gray-1;
    }

    .indicator-text {
      color: $body-text-color;
      font-weight: bold;
    }
  }
}

@include tablet-landscape-and-below {
  .milestone {
    // width: 100%;
      
    > span {
      width: 100% !important;
    }
  }
}

@include desktop-and-up {
  .milestone {
    flex-direction: row;

    &:before {
      height: 3.5rem;
      content: " ";
      background-color: inherit;
      width: 7px;
      position: absolute;
      transition: background-color 250ms;
    }

    &.bottom- {
      &left,
      &end {
        top: 0%;
        margin-bottom: 1.4rem;
      }

      &left {
        &:before {
          top: 80%;
          left: 0%;
        }
      }

      &end {
        &:before {
          top: 80%;
          left: 41.3%;
        }
      }
    }

    &.top- {
      &left {
        top: 0%;
        margin-top: 1.4rem;
      }

      &left {
        &:before {
          bottom: 80%;
          left: 0%;
        }
      }
    }
  }
}
</style>