<template>
  <div :class="{'horizontal': horizontal}" class="progress-bar">
    <div class="progress" :style="`${horizontal ? 'height' : 'width'}:${percent}%;`"></div>
    <span v-if="text" class="indicator-text">{{ text }}</span>
  </div>
</template>

<script>
export default {
  props: {
    percent: {
      default: 10
    },
    text: String,
    horizontal: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../styles/variables";

.progress-bar {
  border-radius: 8px;
  z-index: 1;
  height: 2rem;
  background: #e9edf3;
  position: relative;

  &.horizontal {
    height: 100%;
    width: 100%;
  }

  .progress {
    height: 100%;
    border-radius: inherit;
    background: $gradient-darken;
    transition: width 2s ease,
                height 2s ease;
  }

  .indicator-text {
    position: absolute;
    top: 20%;
    right: 1%;
    color: $gray-1;
    // font-size: 0.9rem;
    font-weight: 600;
  }
}
</style>