<template>
  <div class="card">
    <div v-if="!!$slots.header" class="card-header">
      <slot name="header"></slot>
    </div>
    <div v-if="!!$slots.content" class="card-content">
      <slot name="content"></slot>
    </div>
    <div v-if="!!$slots.footer" class="card-footer">
      <slot name="footer"></slot>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "../styles/variables";

.card {
  background: $white;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 1.3rem;
  box-shadow: $box-shadow-1;
  justify-content: space-between;

  // &-content {
  //   flex: 1;
  // }

  &-content,
  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.8rem;

    > *:not(:first-child) {
      margin-left: 0.8rem;
    }
  }
}
</style>