<template>
  <div :style="`background:${bgColor};${borderColor ? 'border-color:' + borderColor : ''}`" 
       :class="{'with-border': borderColor}" class="circle">
      <div v-if="image" :style="`background-image:url(${image})`" :class="size" class="circle-content"></div>
  </div>
</template>

<script>
export default {
  props: {
    size: String,
    borderColor: String,
    image: String,
    bgColor: {
      type: String,
      default: "#fff"
    },
  }
}
</script>

<style lang="scss" scoped>
.circle {
  position: relative;
  border-radius: 50%;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (1 / 1) * 100%;
  }
  
  &.with-border {
    border: 1px solid;
  }

  > .circle-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;

    &.large {
      background-size: 40%;
    }
  }
}
</style>