<script>
export default {
  render(h) {
    return h("div", { class: "container" }, 
      this.$slots.default
    );
  }
}
</script>

<style>
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 2rem;
}
</style>