<template>
  <Card :class="{'large': large}" class="detail-card">
    <template #content>
      <div class="left">
        <div class="left-icon">
          <CircleIcon :border-color="borderColor" :bg-color="iconColor" :size="large ? 'large' : ''" :image="iconStyle" />
        </div>
        <span>{{ name }}</span>
      </div>
      <div class="right">
        <slot></slot>
      </div>
    </template>
    <template #footer>
      <slot name="footer"></slot>
    </template>
  </Card>
</template>

<script>
import CircleIcon from "./Circle";
import Card from "./Card";
import images from "../assets/icons_svg/*.svg";

export default {
  components: {
    Card,
    CircleIcon
  },
  props: {
    iconColor: {
      type: String,
      default: "#000000"
    },
    icon: {
      type: String,
      default: "homepage_percentage.svg"
    },
    customIcon: {
      type: String
    },
    large: {
      type: Boolean,
      default: false
    },
    name: String,
    borderColor: String
  },
  computed: {
    images() {
      return images;
    },
    iconStyle() {
      const url = this.customIcon ? this.customIcon : this.images[this.icon];
      return url;
    }
  }
};
</script>

<style lang="scss" scoped>
.detail-card {
  &.platform-info {
    .left {
      > .left-icon {
        width: 5rem !important;
      }

      > span {
        width: 100% !important;
      }
    }
  }

  &.large {
    .left {
      > .left-icon {
        width: 3.4rem;
        height: 3.4rem;
      }

      > span {
        font-size: 1.5rem;
        width: 50%;
      }
    }
  }

  .left {
    display: flex;
    align-items: center;

    > .left-icon {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }

    > span {
      font-weight: 600;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    align-items: flex-end;

    .stat span:last-child {
      margin-left: -0.2rem;
    }
  }
}
</style>