<template>
  <footer>
    <Container class="footer-content">
      <ul class="footer-links left">
        <li>
          <a href="#">Uniswap</a>
        </li>
        <li>
          <a href="#">Coingecko</a>
        </li>
      </ul>
      <ul class="footer-links left with-icons">
        <li>
          <a href="#"><img :src="socialIcons['twitter']" alt="Twitter"></a>
        </li>
        <li>
          <a href="#"><img :src="socialIcons['medium']" alt="Medium"></a>
        </li>
        <li>
          <a href="#"><img :src="socialIcons['github']" alt="GitHub"></a>
        </li>
      </ul>
      <div class="footer-links right">
        <li>&copy; 2020</li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Terms</a>
        </li>
      </div>
    </Container>
  </footer>
</template>

<script>
import Container from "./Container";
import socialIcons from "../assets/icons_svg/{medium,twitter,github}.svg";

export default {
  components: {
    Container
  },
  computed: {
    socialIcons() {
      return socialIcons;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../styles/variables";
@import "../styles/media-queries";

footer {
  background: $blue-2;
  color: $white;
  padding: 2.4rem 0;
  margin-bottom: 5rem;
  flex-shrink: 0;

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-links {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0.5rem 0.5rem;

    &.left.with-icons {
      flex-direction: row;

      li {
        margin: 0 0.5rem;
      }
    }

    &.left li {
      font-weight: bold;
    }

    li {
      margin: 0 0.5rem;

      a {
        text-decoration: none;
        color: $white;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}

@include desktop-and-up {
  footer {
    padding: 3rem 0;
    margin-bottom: 0;
    
    .footer-content,
    .footer-links {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-links {
      margin: 0 -1rem;

      &.left.with-icons {
        margin-right: auto;
        margin-left: 1rem;
      }

      li {
        margin: 0 1rem;
      }
    }
  }
}
</style>