<template>
  <div>
    <header class="navbar">
      <router-link to="/" class="navbar-brand">
        <img class="logo desktop" src="../assets/icons_new/catoshi-logo.svg" alt="Catoshi" />
        <img class="logo mobile" src="../assets/icons_new/catoshi-cat.svg" alt="Catoshi" />
      </router-link>
      <ul class="navbar-links main-nav subtract-margin">
        <li v-for="link in links" :key="link.className">
          <router-link 
              :class="link.className" 
              exact-active-class="active" 
              :to="link.path">
            {{ link.text }}
          </router-link>
        </li>
      </ul>
      <div class="navbar-links right-nav">
        <!-- <button class="button is-primary">Unlock Wallet</button> -->
        <div class="wallet-info" v-if="unlocked">
          <div :class="unlocked ? 'active' : 'inactive'" class="indicator"></div>
          <div class="balance">
            <span>500291.16 CATO</span>
            <span>Wallet Balance</span>
          </div>
          <span class="wallet-id">0xF943...fF34</span>
        </div>
        <button @click="unlocked = true" class="wallet-info btn" v-else>
          <div :class="unlocked ? 'active' : 'inactive'" class="indicator"></div>
          <span>Unlock Wallet</span>
        </button>
      </div>
    </header>
    <nav class="mobile-menu">
      <ul class="navbar-links main-nav subtract-margin">
        <li v-for="link in links" :key="link.className">
          <router-link 
              :class="link.className" 
              exact-active-class="active" 
              :to="link.path">
            {{ link.text }}
          </router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
import Container from "./Container";

export default {
  components: {
    Container
  },
  data() {
    return {
      unlocked: false,
      links: [
        {
          text: "Overview",
          path: "/",
          className: "home"
        },
        {
          text: "Farms",
          path: "/farms",
          className: "farms"
        },
        {
          text: "Governance",
          path: "/governance",
          className: "governance"
        },
        {
          text: "FAQ",
          path: "/faqs",
          className: "faqs"
        }
      ]
    }
  }
}
</script>

<style lang="scss">
@import "../styles/variables";
@import "../styles/media-queries";

@keyframes wiggleAndZoom {
  0% {
    transform: rotateZ(0deg) scale(1);
  }
  
  16% {
    transform: rotateZ(5deg);
  }

  32% {
    transform: rotateZ(-5deg);
  }

  48% {
    transform: rotateZ(5deg);
  }

  64% {
    transform: rotateZ(-5deg);
  }

  80% {
    transform: rotateZ(0deg) scale(1.1);
  }
}

.navbar {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 2140px;

  .navbar-brand .logo {
    width: 100%;
    margin-right: -5rem;
    transform: scale(1);
    transition: transform 100ms;

    &:hover {
      animation: wiggleAndZoom 450ms;
      transform: scale(1.1);
    }
    
    &.desktop {
      display: none;
    }

    &.mobile {
      display: block;
      width: calc(72px - 20px);
      height: calc(80px - 20px);
    }
  }

  a {
    text-decoration: none;
    color: $link-color;

    &:hover,
    &:active {
      color: darken($link-color, 20);
    }

    &:active {
      color: $link-color-active;
    }
  }

  &-links {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    list-style: none;
    
    &.main-nav {
      display: none;
    }

    &.subtract-margin {
      margin-left: -2rem;
    }

    li {
      padding: 0.5rem;
      margin: 0 0.5rem;

      a {
        font-weight: 600;
        padding: 0.5rem 0;
        border-bottom: 3px solid transparent;

        &.home:before,
        &.farms:before,
        &.governance:before,
        &.faqs:before {
          height: 17px;
          display: inline-block;
          content: " ";
          background-size: contain !important;
          position: relative;
          top: 3px;
        }

        &.home:before {
          background: url(../assets/icons_new/home-default.png) no-repeat center;
          width: 17px;
        }

        &.farms:before {
          background: url(../assets/icons_new/farm-default.png) no-repeat center;
          width: 21px;
        }

        &.governance:before {
          background: url(../assets/icons_new/governance-default.png) no-repeat center;
          width: 21px;
        }

        &.faqs:before {
          background: url(../assets/icons_new/faq-default.png) no-repeat center;
          width: 11px;
        }

        &.active {
          color: $link-color-active;
          border-color: $link-color-active;

          &.home:before {
            background: url(../assets/icons_new/home-selected.png) no-repeat center;
          }

          &.farms:before {
            background: url(../assets/icons_new/farm-selected.png) no-repeat center;
          }

          &.governance:before {
            background: url(../assets/icons_new/governance-selected.png) no-repeat center;
          }

          &.faqs:before {
            background: url(../assets/icons_new/faq-selected.png) no-repeat center;
          }
        }
      }
    }
  }
}

.wallet-info {
  display: flex;
  flex-direction: row;
  background-color: rgba(241, 245, 249, 0.5);
  border-radius: 32px;
  align-items: center;
  color: $gray-1;
  padding: 0.3rem 0.8rem;
  font-weight: 600;

  &.btn {
    // background: red;
    width: 139px;
    height: 50px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    transition: background-color 100ms;

    &:hover {
      background-color: rgba(206, 209, 212, 0.5);
    }
  }

  .indicator {
    height: 0.5rem;
    width: 0.5rem;
    background-color: gray;
    border-radius: 100%;
    margin-right: 0.5rem;

    &.active {
      background-color: $green-5;
    }

    &.inactive {
      background-color: $red-3;
    }
  }

  .balance {
    display: flex;
    flex-direction: column;
    margin-right: 0.3rem;

    // span:last-child {
    //   font-size: 0.8rem;
    // }
  }

  .wallet-id {
    background: $white;
    height: 100%;
    border-radius: inherit;
    padding: 0.3rem 0.7rem;
  }
}

.mobile-menu {
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: $bg-gradient;
  box-shadow: $box-shadow-1;
  
  .navbar-links {
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;

    > * {
      flex: 1;
    }

    li {
      padding: 0;
      margin: 0;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: $link-color;
        padding-top: 1.2rem;
        padding-bottom: 1rem;
        transition: color 100ms, background-color 100ms;

        :before {
          position: static;
        }

        &:hover,
        &:active {
          background-color: rgba(0, 0, 0, 0.1);
          color: darken($link-color, 20);
        }

        &.active {
          color: $link-color-active;
        }
      }
    }
  }
}

@include mobile-only {
  .wallet-info {
    .wallet-id {
      display: none;
    }
  }
}

@include desktop-and-up {
  .navbar {
    justify-content: flex-start;

    .navbar-brand .logo {
      width: 100%;
      margin-right: 0;

      &.desktop {
        display: block;
      }

      &.mobile {
        display: none;
      }
    }
  }

  .navbar-links.main-nav {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-links.right-nav {
    .wallet-info:not(.btn) {
      margin-left: -9.8rem;
    }
  }

  .mobile-menu {
    display: none;
  }
}
</style>