<template>
<transition name="fade-and-zoom">
  <div :id="id" v-show="open" class="modal-wrapper">
    <div class="modal-backdrop" @click="closeModal"></div>
    <div class="modal">
      <button v-if="withCloseButton" class="modal-close" @click="closeModal">
        <svg viewBox="0 0 20 20" fill="currentColor" class="x w-6 h-6"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
      <div v-if="!!$slots.header" class="modal-header">
        <slot name="header"></slot>
      </div>
      <div class="modal-content">
        <slot></slot>
      </div>
      <div class="modal-footer">
        <slot name="footer" :modal-id="id" :close="closeModal"></slot>
      </div>
    </div>
  </div>
</transition>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: "modal"
    },
    withCloseButton: {
      type: Boolean,
      default: false
    }
  },
  mounted() {
    this.$eventHub.$on("open-modal", (id) => {
      if (id !== this.id) return;
      document.body.classList.add("disable-scroll");
      this.open = true;
    });

    this.$eventHub.$on("toggle-modal", (id) => {
      if (id !== this.id) return;
      document.body.classList.toggle("disable-scroll");
      this.open = !this.open;
    });

    this.$eventHub.$on("close-modal", (id) => {
      if (id !== this.id) return;
      document.body.classList.remove("disable-scroll");
      this.open = false;
    });
  },
  data() {
    return {
      open: false
    }
  },
  methods: {
    closeModal() {
      this.$eventHub.$emit("close-modal", this.id);
    }
  }
}
</script>

<style>
body.disable-scroll {
  overflow: hidden;
}

.modal .modal-header *:not([class]) {
  margin: 0;
}
</style>

<style lang="scss" scoped>
@import "../styles/media-queries";
@import "../styles/variables";
$modal-y-spacing: 1.6rem;

@keyframes fade {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.fade-and-zoom {
  &-enter-active {
    animation: fade .25s;
    transform-origin: center;

    .modal {
      animation: zoom .15s ease-in;
    }
  }

  &-leave-active {
    animation: fade .15s reverse ease;
    transform-origin: center;

    .modal {
      animation: zoom .15s ease-out reverse;
    }
  }
}

.modal- {
  &wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    justify-content: center;
    display: flex;
  }

  &backdrop {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    height: inherit;
    width: inherit;
  }
}

.modal {
  max-width: 90%;
  width: 100%;
  position: relative;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: $box-shadow-1;
  padding: $modal-y-spacing 1.8rem;
  display: flex;
  flex-direction: column;
  align-self: center;

  .modal-close {
    position: absolute;
    background: none;
    border: none;
    width: 2.5rem;
    right: 2%;
    cursor: pointer;
    svg {
      fill: rgba(0,0,0,0.4);
    }

    &:hover svg {
      fill: rgba(0,0,0,0.8);
    }
  }

  .modal-header {
    margin-bottom: $modal-y-spacing;
    display: flex;
    align-items: center;
  }

  .modal-footer {
    margin-top: $modal-y-spacing;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    > * {
      margin-left: 0.5rem;
    }
  }
}

@media screen and (min-width: 981px) {
  .modal {
    max-width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  .modal {
    max-width: 30%;
  }
}
</style>