<template>
  <article class="accordion">
    <section @click="toggle" class="accordion-header">
      <span class="accordion-title">{{ title }}</span>
      <div :class="expandArrowClass" class="accordion-toggle">
        <svg viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </div>
    </section>
    <section :id="id + '__content'" v-show="expanded" :class="{'show': expanded}" class="accordion-content">
      <slot></slot>
    </section>
  </article>
</template>

<script>
export default {
  props: {
    id: {
      type: String,
      default: "accordion"
    },
    title: {
      type: String,
      default: "Accordion Title"
    }
  },
  // created() {
  //   this.$eventHub.$on("accordion-toggle", (id) => {
  //     if (id !== this.id) return;
  //     this.expanded = !this.expanded;
  //   });
  // },
  watch: {
    expanded(newState) {
      this.expandArrowClass = this.expanded ? "rotate-down" : "rotate-up";
      if (!this.expanded) {
        setTimeout(() => {
          this.expandArrowClass = "";
        }, 500);
      }
    }
  },
  computed: {
    // contentHeightCss() {
    //   return `max-height: ${this.expanded ? this.contentHeight : 0}`;
    // }
  },
  data() {
    return {
      expandArrowClass: '',
      // contentHeight: 0,
      expanded: false
    };
  },
  methods: {
    toggle(e) {
      this.expanded = !this.expanded;
      // TODO: smooth CSS accordion transition
      // const content = document.getElementById(this.id + '__content');
      // console.log(content.scrollHeight);
      // this.contentHeight = this.expanded ? content.scrollHeight : 0;
      // console.log(this.contentHeight);
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../styles/variables";

@keyframes rotateDown {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes rotateUp {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  background: $white;
  border-radius: 12px;
  box-shadow: $box-shadow-1;

  &-header {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20%;
    cursor: pointer;

    .accordion-title {
      font-size: 1.3rem;
      font-weight: bold;
    }

    .accordion-toggle {
      width: 2rem;
      background: none;
      border: 0;
      
      &.rotate-up svg {
        // transform: rotateZ(0deg);
        animation: rotateUp 500ms;
      }

      &.rotate-down svg {
        transform: rotateZ(180deg);
        animation: rotateDown 500ms;
      }

      svg {
        fill: $gray-1;
      }
    }
  }

  &-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    // padding-top: 0;
    color: $gray-1;

    > * {
      margin-top: 0;
    }
  }
}
</style>