<template>
  <main>
    <Header></Header>
    <main class="content">
      <router-view></router-view>
    </main>
    <Footer></Footer>
  </main>
</template>

<script>
import Header from "./components/Header";
import Footer from "./components/Footer";

export default {
  name: 'App',
  components: {
    Header,
    Footer
  }
}
</script>

<style lang="scss">
@import "./styles/app";
</style>